/* GENERAL STYLES */
:root {
    /* Primary */
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
    --youtube: hsl(348, 97%, 39%);

    /* Dark Theme */
    --toggle-dark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);

    /* Light Theme */
    --toggle-light: hsl(230, 22%, 74%);

    /* Dark Theme Neutral */
    --very-dark-blue-bg: hsl(235, 16%, 14%);
    --very-dark-blue-top-bg-pattern: hsl(232, 19%, 15%);
    --dark-desaturated-blue-card-bg: hsl(228, 28%, 20%);
    --desaturated-blue-text: hsl(228, 34%, 66%);
    --white-text: hsl(0, 0%, 100%);

    /* Light Theme Neutral */
    --white-bg: hsl(0, 0%, 100%);
    --very-pale-blue-top-bg-pattern: hsl(225, 100%, 98%);
    --light-grayish-blue-card-bg: hsl(227, 47%, 96%);
    --dark-grayish-blue-text: hsl(228, 12%, 44%);
    --very-dark-blue-text: hsl(230, 17%, 14%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    min-height: 800px;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    color: var(--white-text);
    background-color: var(--white-bg);
    transition: .4s;
}

.dark_body {
    background-color: var(--very-dark-blue-bg);
}

/* CONTAINER STYLES */
.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* HEADER STYLES */
.header {
    width: 100%;
    height: 245px;
    display: flex;
    justify-content: center;
    background-color: var(--very-pale-blue-top-bg-pattern);
    transition: .4s;
}

.dark_header {
    background-color: var(--very-dark-blue-top-bg-pattern);
}

.header_wrapper {
    width: 100%;
    max-width: 1115px;
    height: fit-content;
    padding-top: 2.25rem;
    display: flex;
    justify-content: space-between;
    transition: .4s;
}

.header_info {
    transition: .4s;
}

.header_info_title {
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: .04rem;
    color: var(--very-dark-blue-text);
    transition: .4s;
}

.dark_title {
    color: var(--white-text);
}

.header_info_subtitle {
    margin-top: .2rem;
    font-size: .85rem;
    color: var(--dark-grayish-blue-text);
    font-weight: 600;
    letter-spacing: .03rem;
}

/* TOGGLE SWITCH STYLES */
.switch_mode {
    margin-right: .15rem;
    margin-bottom: .3rem;
    display: flex;
    align-items: center;
}

.switch_mode_title {
    font-size: .83rem;
    color: var(--desaturated-blue-text);
    font-weight: 600;
    letter-spacing: .03rem;
}

.switch {
    width: 48px;
    height: 24px;
    margin-left: .8rem;
    position: relative;
    display: inline-block;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(45deg,
            hsl(210deg 78% 56%) 0%,
            hsl(189deg 100% 44%) 50%,
            hsl(146deg 68% 55%) 100%);
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: var(--very-dark-blue-top-bg-pattern);
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked+.slider {
    background-image: linear-gradient(45deg,
            hsl(230deg 22% 74%) 0%,
            hsl(230deg 22% 74%) 100%);
}

input:checked+.slider:hover {
    background-image: linear-gradient(45deg,
            hsl(210deg 78% 56%) 0%,
            hsl(189deg 100% 44%) 50%,
            hsl(146deg 68% 55%) 100%);
}

input:checked+.slider:before {
    background-color: var(--white-bg);
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 50%;
}

/* CONTENT AREA STYLES */
.content {
    width: 100%;
    max-width: 1115px;
    height: auto;
    padding: 0 .15rem;
    position: absolute;
    top: 8.5rem;
}

.cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 255px;
    height: 216px;
    padding-top: 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .3rem;
    border-top: 4px solid var(--facebook);
    background-color: var(--light-grayish-blue-card-bg);
    transition: .2s;
    cursor: pointer;
}

.card:hover,
.bottom_card:hover {
    background-color: #e1e3f0;
}

.card:nth-child(2) {
    border-color: var(--twitter);
}

.card_instagram_bg {
    height: 216;
    display: flex;
    align-items: flex-end;
    border-radius: .3rem .3rem .5rem .5rem;
    background-image: linear-gradient(45deg,
            hsl(37deg 97% 70%) 0%,
            hsl(329deg 70% 58%) 100%);
}

.card_instagram_bg .card {
    width: 255px;
    height: 212px;
    border: none;
    border-radius: .15rem .15rem .3rem .3rem;
}

.card:nth-child(4) {
    border-color: var(--youtube);
}

.card_followers_number {
    font-size: 3.45rem;
    letter-spacing: -.0848rem;
    color: var(--very-dark-blue-text);
    transition: .4s;
}

.card_logo {
    margin-left: .1rem;
    margin-bottom: 1.1rem;
    display: flex;
    align-items: center;
}

.card_logo_username {
    margin-left: .5rem;
    margin-top: .1rem;
    font-size: .71rem;
    color: var(--dark-grayish-blue-text);
    font-weight: 600;
    letter-spacing: .03rem;
}

.card_followers_title {
    font-size: .7rem;
    font-weight: 100;
    letter-spacing: .354rem;
    color: var(--dark-grayish-blue-text);
}

.card_footer {
    margin-top: 1.65rem;
    display: flex;
    align-items: center;
}

.card_footer_title {
    margin-left: .35rem;
    font-size: .7rem;
    font-weight: 500;
    letter-spacing: .045rem;
    color: var(--lime-green);
}

.card:nth-child(4) .card_footer_title {
    color: var(--bright-red);
}

/* BOTTOM CARDS AREA STYLES */
.bottom_cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottom_cards_title {
    width: 100%;
    margin-top: 2.8rem;
    margin-bottom: 1.5rem;
    letter-spacing: .01rem;
    color: var(--dark-grayish-blue-text);
}

.dark_bottom_title {
    color: var(--white-text);
}

.bottom_card {
    width: 255px;
    height: 125px;
    padding: 1.65rem 1.95rem 1.75rem 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: .3rem;
    background-color: var(--light-grayish-blue-card-bg);
    transition: .4s;
    cursor: pointer;
}

.dark_card {
    background-color: var(--dark-desaturated-blue-card-bg);
}

.dark_card:hover {
    background-color: #333a56;
}

.bottom_card_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom_card_header_icon {
    height: 100%;
}

.bottom_card_header_title {
    font-size: .83rem;
    color: var(--dark-grayish-blue-text);
    font-weight: 600;
    letter-spacing: .03rem;
}

.bottom_card_footer {
    margin-top: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom_card_footer_value {
    font-size: 2rem;
    color: var(--very-dark-blue-text);
    transition: .4s;
}

.dark_title {
    color: var(--white-text);
}

.bottom_card_footer_percent {
    margin-top: .85rem;
    display: flex;
    align-items: center;
}

.bottom_card_footer_percent_icon {
    margin-top: .1rem;
}

.bottom_card_footer_percent_value {
    margin-left: .2rem;
    font-size: .75rem;
    letter-spacing: .01rem;
    color: var(--lime-green);
}

.bottom_card:nth-child(3) .bottom_card_footer_percent_value,
.bottom_card:nth-child(8) .bottom_card_footer_percent_value,
.bottom_card:nth-child(9) .bottom_card_footer_percent_value {
    color: var(--bright-red);
}

/* MEDIA QUERY */
@media screen and (max-width: 1150px) {

    .header_wrapper {
        width: 90%;
    }

    .content {
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards,
    .bottom_cards {
        max-width: 540px;
        flex-wrap: wrap;
    }

    .card:nth-child(2) {
        margin-bottom: 1.5rem;
    }

}

@media screen and (max-width: 600px) {

    .header_wrapper {
        flex-direction: column;
    }

    .header_info {
        margin-bottom: 1.6rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }

    .dark_border {
        border-color: rgba(255, 255, 255, 0.2);
    }

    .header_info_title {
        font-size: 1.4rem;
    }

    .switch_mode {
        justify-content: space-between;
        margin: 0;
    }

    .content {
        top: 14rem;
    }

    .cards,
    .bottom_cards {
        width: 90%;
        flex-wrap: wrap;
    }

    .card_instagram_bg {
        height: 216px;
    }

    .card,
    .card_instagram_bg,
    .card_instagram_bg .card {
        width: 100%;
    }

    .card:nth-child(2),
    .card:nth-child(4) {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .bottom_card {
        width: 100%;

    }
}

@media screen and (max-width: 350px) {

    .header_info_title {
        font-size: 1.2rem;
    }

}